tasks.txt
menu.html
gallery.html
about.html
tasty/__MACOSX/._tasty
tasty/__MACOSX/tasty/._.DS_Store
tasty/__MACOSX/tasty/._css
tasty/__MACOSX/tasty/._fonts
tasty/__MACOSX/tasty/._images
tasty/__MACOSX/tasty/._index.html
tasty/__MACOSX/tasty/._js
tasty/__MACOSX/tasty/._README.txt
tasty/__MACOSX/tasty/._sass
tasty/__MACOSX/tasty/css/._.DS_Store
tasty/__MACOSX/tasty/css/._animate.css
tasty/__MACOSX/tasty/css/._bootstrap.css
tasty/__MACOSX/tasty/css/._bootstrap.css.map
tasty/__MACOSX/tasty/css/._flexslider.css
tasty/__MACOSX/tasty/css/._icomoon.css
tasty/__MACOSX/tasty/fonts/._.DS_Store
tasty/__MACOSX/tasty/fonts/._bootstrap
tasty/__MACOSX/tasty/fonts/._icomoon
tasty/__MACOSX/tasty/fonts/bootstrap/._glyphicons-halflings-regular.eot
tasty/__MACOSX/tasty/fonts/bootstrap/._glyphicons-halflings-regular.svg
tasty/__MACOSX/tasty/fonts/bootstrap/._glyphicons-halflings-regular.ttf
tasty/__MACOSX/tasty/fonts/bootstrap/._glyphicons-halflings-regular.woff
tasty/__MACOSX/tasty/fonts/bootstrap/._glyphicons-halflings-regular.woff2
tasty/__MACOSX/tasty/fonts/icomoon/._.DS_Store
tasty/__MACOSX/tasty/fonts/icomoon/._icomoon
tasty/__MACOSX/tasty/fonts/icomoon/._icomoon.eot
tasty/__MACOSX/tasty/fonts/icomoon/._icomoon.svg
tasty/__MACOSX/tasty/fonts/icomoon/._icomoon.ttf
tasty/__MACOSX/tasty/fonts/icomoon/._icomoon.woff
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/._.DS_Store
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/._demo-files
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/._demo.html
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/._fonts
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/._Read Me.txt
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/._selection.json
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/._style.css
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/demo-files/._demo.css
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/demo-files/._demo.js
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/fonts/._icomoon.eot
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/fonts/._icomoon.svg
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/fonts/._icomoon.ttf
tasty/__MACOSX/tasty/fonts/icomoon/icomoon/fonts/._icomoon.woff
tasty/__MACOSX/tasty/images/._.DS_Store
tasty/__MACOSX/tasty/images/._broken_noise_@2X.png
tasty/__MACOSX/tasty/images/._broken_noise.png
tasty/__MACOSX/tasty/images/._gallery_1.jpeg
tasty/__MACOSX/tasty/images/._gallery_2.jpeg
tasty/__MACOSX/tasty/images/._gallery_3.jpeg
tasty/__MACOSX/tasty/images/._gallery_4.jpeg
tasty/__MACOSX/tasty/images/._gallery_5.jpeg
tasty/__MACOSX/tasty/images/._gallery_6.jpeg
tasty/__MACOSX/tasty/images/._gallery_7.jpeg
tasty/__MACOSX/tasty/images/._gallery_8.jpeg
tasty/__MACOSX/tasty/images/._gallery_9.jpeg
tasty/__MACOSX/tasty/images/._hero_1.jpeg
tasty/__MACOSX/tasty/images/._img_1.jpeg
tasty/__MACOSX/tasty/images/._img_sm_1.jpeg
tasty/__MACOSX/tasty/images/._loader.gif
tasty/__MACOSX/tasty/images/._person_1.jpg
tasty/__MACOSX/tasty/js/._.DS_Store
tasty/__MACOSX/tasty/js/._bootstrap.min.js
tasty/__MACOSX/tasty/js/._jquery.easing.1.3.js
tasty/__MACOSX/tasty/js/._jquery.flexslider-min.js
tasty/__MACOSX/tasty/js/._jquery.min.js
tasty/__MACOSX/tasty/js/._jquery.stellar.min.js
tasty/__MACOSX/tasty/js/._jquery.waypoints.min.js
tasty/__MACOSX/tasty/js/._main.js
tasty/__MACOSX/tasty/js/._modernizr-2.6.2.min.js
tasty/__MACOSX/tasty/js/._respond.min.js
tasty/__MACOSX/tasty/sass/.__bootstrap-compass.scss
tasty/__MACOSX/tasty/sass/.__bootstrap-mincer.scss
tasty/__MACOSX/tasty/sass/.__bootstrap-sprockets.scss
tasty/__MACOSX/tasty/sass/._.DS_Store
tasty/__MACOSX/tasty/sass/._bootstrap
tasty/__MACOSX/tasty/sass/._bootstrap.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__alerts.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__badges.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__breadcrumbs.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__button-groups.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__buttons.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__carousel.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__close.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__code.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__component-animations.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__dropdowns.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__forms.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__glyphicons.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__grid.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__input-groups.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__jumbotron.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__labels.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__list-group.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__media.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__mixins.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__modals.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__navbar.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__navs.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__normalize.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__pager.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__pagination.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__panels.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__popovers.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__print.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__progress-bars.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__responsive-embed.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__responsive-utilities.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__scaffolding.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__tables.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__theme.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__thumbnails.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__tooltip.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__type.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__utilities.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__variables.scss
tasty/__MACOSX/tasty/sass/bootstrap/.__wells.scss
tasty/__MACOSX/tasty/sass/bootstrap/._mixins
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__alerts.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__background-variant.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__border-radius.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__buttons.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__center-block.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__clearfix.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__forms.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__gradients.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__grid-framework.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__grid.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__hide-text.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__image.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__labels.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__list-group.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__nav-divider.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__nav-vertical-align.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__opacity.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__pagination.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__panels.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__progress-bar.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__reset-filter.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__reset-text.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__resize.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__responsive-visibility.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__size.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__tab-focus.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__table-row.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__text-emphasis.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__text-overflow.scss
tasty/__MACOSX/tasty/sass/bootstrap/mixins/.__vendor-prefixes.scss
sass/_bootstrap-compass.scss
sass/_bootstrap-mincer.scss
sass/_bootstrap-sprockets.scss
sass/.DS_Store
sass/bootstrap.scss
sass/index.html
sass/style.scss
sass/bootstrap/_alerts.scss
sass/bootstrap/_badges.scss
sass/bootstrap/_breadcrumbs.scss
sass/bootstrap/_button-groups.scss
sass/bootstrap/_buttons.scss
sass/bootstrap/_carousel.scss
sass/bootstrap/_close.scss
sass/bootstrap/_code.scss
sass/bootstrap/_component-animations.scss
sass/bootstrap/_dropdowns.scss
sass/bootstrap/_forms.scss
sass/bootstrap/_glyphicons.scss
sass/bootstrap/_grid.scss
sass/bootstrap/_input-groups.scss
sass/bootstrap/_jumbotron.scss
sass/bootstrap/_labels.scss
sass/bootstrap/_list-group.scss
sass/bootstrap/_media.scss
sass/bootstrap/_mixins.scss
sass/bootstrap/_modals.scss
sass/bootstrap/_navbar.scss
sass/bootstrap/_navs.scss
sass/bootstrap/_normalize.scss
sass/bootstrap/_pager.scss
sass/bootstrap/_pagination.scss
sass/bootstrap/_panels.scss
sass/bootstrap/_popovers.scss
sass/bootstrap/_print.scss
sass/bootstrap/_progress-bars.scss
sass/bootstrap/_responsive-embed.scss
sass/bootstrap/_responsive-utilities.scss
sass/bootstrap/_scaffolding.scss
sass/bootstrap/_tables.scss
sass/bootstrap/_theme.scss
sass/bootstrap/_thumbnails.scss
sass/bootstrap/_tooltip.scss
sass/bootstrap/_type.scss
sass/bootstrap/_utilities.scss
sass/bootstrap/_variables.scss
sass/bootstrap/_wells.scss
sass/bootstrap/mixins/_alerts.scss
sass/bootstrap/mixins/_background-variant.scss
sass/bootstrap/mixins/_border-radius.scss
sass/bootstrap/mixins/_buttons.scss
sass/bootstrap/mixins/_center-block.scss
sass/bootstrap/mixins/_clearfix.scss
sass/bootstrap/mixins/_forms.scss
sass/bootstrap/mixins/_gradients.scss
sass/bootstrap/mixins/_grid-framework.scss
sass/bootstrap/mixins/_grid.scss
sass/bootstrap/mixins/_hide-text.scss
sass/bootstrap/mixins/_image.scss
sass/bootstrap/mixins/_labels.scss
sass/bootstrap/mixins/_list-group.scss
sass/bootstrap/mixins/_nav-divider.scss
sass/bootstrap/mixins/_nav-vertical-align.scss
sass/bootstrap/mixins/_opacity.scss
sass/bootstrap/mixins/_pagination.scss
sass/bootstrap/mixins/_panels.scss
sass/bootstrap/mixins/_progress-bar.scss
sass/bootstrap/mixins/_reset-filter.scss
sass/bootstrap/mixins/_reset-text.scss
sass/bootstrap/mixins/_resize.scss
sass/bootstrap/mixins/_responsive-visibility.scss
sass/bootstrap/mixins/_size.scss
sass/bootstrap/mixins/_tab-focus.scss
sass/bootstrap/mixins/_table-row.scss
sass/bootstrap/mixins/_text-emphasis.scss
sass/bootstrap/mixins/_text-overflow.scss
sass/bootstrap/mixins/_vendor-prefixes.scss
