{% extends 'base.html' %}
{% block title %}Your Appointment{% endblock %}
{% block title_addition %}<h2>See the details about you appointment</h2>{% endblock %}

{% load static %}
{% block content %}
<div id="fh5co-about" class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-push-2 animate-box">
				<div class="section-heading">
					<ul>
						<li>Name: {{ appointment.name }}</li>
						<li>Email: {{ appointment.email }}</li>
						<li>Start Date: {{ appointment.start_date }}</li>
						<li>End Date: {{ appointment.end_date }}</li>
                        <li>Service: {{ appointment.service }}</li>
						<li>Message: {{ appointment.message }}</li>
					</ul>
					<p><a href="{% url 'edit' %}" class="btn btn-primary btn-outline">Edit</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
