{% extends 'base.html' %}
{% block title %}Book an appointment!{% endblock %}
{% block title_addition %}<h2>Book an appointment in Dr. Helen Kopyoff's office located in Staten Island</h2>{% endblock %}

{% load static %}
{%block links%} 
<link rel="stylesheet" href="{% static 'css/tempus-dominus.min.css'%}" crossorigin="anonymous"> 
{%endblock%}

{% block content %}
<div id="fh5co-reservation-form" class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 fh5co-heading animate-box">
				<h2>Booking</h2>
				<div class="row">
					<div class="col-md-6">
						<p>Provide the data about: appointment date and time, type of service, your name, your email and message. Please make sure you have an allowed insurance. Allowed insurances you can see <a href="{% url 'insurances' %}">here</a></p>
						<p>Appointment time ranges:</p>
						<ul>
							<li>Tuesday 8:30 AM - 7:00 PM</li>
							<li>Thursday 8:30 AM - 7:00 PM</li>
							<li>Saturday 9:00 AM - 4:00 PM</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6">
				{% if "appointment_id" in request.COOKIES.keys and not request.user.is_authenticated %}
				<p> You have already got an appointment </p>
				{% else %}
				<form method="post" id="form-wrap">
					{% csrf_token %}
					<div class="row form-group">
						<div class="row form-group">
							<div class="col-md-12 autocomplete">
								<label for="insurance">Insurance</label>
								<input type="text" name="insurance" class="form-control" id="insurance">				
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label for="service">Type Of Service</label>
							<select name="service" id="service" class="form-control custom_select">
								<option value="Routine Exams" style="color: brown;">Routine Exams</option>
								<option value="Dental Hygiene" style="color: brown;">Dental Hygiene</option>
								<option value="Veneers" style="color: brown;">Veneers</option>
								<option value="Dentures" style="color: brown;">Dentures</option>
								<option value="Dental Bonding" style="color: brown;">Dental Bonding</option>
								<option value="Dental Bridges" style="color: brown;">Dental Bridges</option>
								<option value="Crowns" style="color: brown;">Dental Crowns</option>
								<option value="Teeth whitening" style="color: brown;">Teeth whitening</option>
								<option value="Dental Fillings" style="color: brown;">Dental Fillings</option>
								<option value="Emergency" style="color: brown;">Emergency dentistry</option>
								<option value="Implants" style="color: brown;">Implants</option>
								<option value="Root Canals" style="color: brown;">Root Canals</option>								
							</select>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label for="name">Your Name</label>
							<input type="text" name="name" class="form-control" id="name">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label for="email">Your Email</label>
							<input type="text" name="email" class="form-control" id="email">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label for="message">Your Message</label>
							<textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label for="taskdatetime">When</label>
							<input type="text" name="date" class="form-control" id="taskdatetime"/>
						</div>
					</div>
					{% if errors %} {% for error in errors %}
						<p>
							{{ error|safe }}
						</p>
					{% endfor %} {% endif %}
					<div class="form-group" id="radioTimes">
					</div>						
					<div class="row form-group">
						<div class="col-md-12">
							<input type="submit" class="btn btn-primary btn-outline btn-lg" value="Submit Form">
						</div>
					</div>

				</form>
				{% endif %}
			</div>
			
			
		</div>
	</div>
</div>	
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/tempus-dominus.min.js'%}" crossorigin="anonymous"></script>


<!-- Date Time -->
<!-- <script src="js/bootstrap-datetimepicker.js"></script> -->

<!-- <script>
	// Everything except weekend days
	const validate = dateString => {
	const day = (new Date(dateString)).getDay();
	if (day==0 || day==2 || day==4 || day==6) {
		return false;
	}
	return true;
	}

	// Sets the value to '' in case of an invalid date
	document.querySelector(`input[type='date']`).onchange = evt => {
	if (!validate(evt.target.value)) {
		evt.target.value = '';
	}
	}
</script> -->
<script>
	const dates = JSON.parse(`{{ dates|safe }}`)
	const blocks = JSON.parse(`{{ blocks|safe }}`)

	times = [
		"9:00 AM",
		"10:00 AM",
		"11:00 AM",
		"12:00 PM",
		"1:00 PM",
		"2:00 PM",
		"3:00 PM",
		"4:00 PM",
		"5:00 PM",
		"6:00 PM",
		"7:00 PM",
	]

	timesWeekend = [
		"9:00 AM",
		"10:00 AM",
		"11:00 AM",
		"12:00 PM",
		"1:00 PM",
		"2:00 PM",
		"3:00 PM",
		"4:00 PM",
	]

	function getTimeHtml(i, t){
		return `<input class="form-check-input" type="radio" name="time" id="time${i}" value="${t}">
				<label class="form-check-label" for="time${i}">
					${t}
				</label>`
	}

	function timeToHoursAndMinutes(time) {
		const [timeStr, ampm] = time.split(" ");
		const [hourStr, minuteStr] = timeStr.split(":");
		let hour = parseInt(hourStr);
		const minute = parseInt(minuteStr);
		
		if (ampm == "PM" && hour != 12) {
		  hour += 12;
		} else if (ampm == "AM" && hour == 12) {
		  hour = 0;
		}
	  
		return [hour, minute];
	}

	function isTimeWithinRange(time, startTime, endTime) {
		const [hour, minute] = timeToHoursAndMinutes(time);
		const [startHour, startMinute] = timeToHoursAndMinutes(startTime);
		const [endHour, endMinute] = timeToHoursAndMinutes(endTime);
	  
		const currentTimeInMinutes = hour * 60 + minute;
		const startTimeInMinutes = startHour * 60 + startMinute;
		const endTimeInMinutes = endHour * 60 + endMinute;
	  
		return currentTimeInMinutes >= startTimeInMinutes && currentTimeInMinutes < endTimeInMinutes;
	}

	function isDatetimeWithinRange(datetime, startDatetime, endDatetime) {
		const currentDatetime = new Date(datetime);
		const startDatetimeObj = new Date(startDatetime);
		const endDatetimeObj = new Date(endDatetime);
	
		return currentDatetime >= startDatetimeObj && currentDatetime < endDatetimeObj;
	}

	document.getElementById("taskdatetime").onchange = evt => {
		currentDate = `${evt.target.value.split(" ")[0]}`;
		currentService = document.getElementById("service")
		let _times = []
		if(new Date(currentDate).getDay() == 6){
			timesWeekend.forEach(t =>{
				_times.push(t)
			})			
		}
		else{
			times.forEach(t =>{
				_times.push(t)
			})
		}
		container = document.getElementById("radioTimes");
		if(dates[currentDate] != null){
			dates[currentDate].forEach(t => {
				for(let i = 0; i < _times.length; i++){
					if(isTimeWithinRange(_times[i], t[0], t[1])){
						_times.splice(i, 1)
					}
				}
			});
			/*for(let i = 0; i < _times.length; i++){
				if(_times[i] != "taken"){
					const size = service_map[currentService.value]["Size"]
					for(let j = 1; j <= size; j++){
						if(_times[i + j] == "taken"){
							_times[i] = "0";
						}
					}
				}
			} */
		}	
		blocks.forEach(b =>{
			for(let i = 0; i < _times.length; i++){
				currentDateTime = currentDate + " " + _times[i];
				if(isDatetimeWithinRange(currentDateTime, b[0], b[1])){
					_times[i] = "taken";
				}
			}
		});	
		let i = 1;
		container.innerHTML = "";
		_times.forEach(t => {		
			if(t != "taken" && t != "0"){
				const radio = document.createElement("div");
				radio.class = "form-check";
				radio.innerHTML = getTimeHtml(i, t);
				container.appendChild(radio);
				i++;
			}	
		});
		if(container.innerHTML == ""){
			container.innerHTML = "<p>There are no available times for booking on this day</p>";
		}
		evt.target.value = currentDate;
	};

	function getOddSaturdays() {
		const today = new Date();
		const nextYear = new Date(today.getFullYear() + 1, today.getMonth(), today.getDate());
		const oddSaturdays = [];
	
		while (today <= nextYear) {
			if (today.getDay() === 6 && today.getDate() % 2 === 1) {
				oddSaturdays.push(new Date(today));
			}
			today.setDate(today.getDate() + 1);
		}
	
		return oddSaturdays;
	}
	blocked_days = JSON.parse(`{{ blocked_days|safe }}`)
	for(let i = 0; i < blocked_days.length; i++){
		blocked_days[i] = new Date(blocked_days[i])
	}
	console.log(blocked_days);

	const picker = new tempusDominus.TempusDominus(document.getElementById("taskdatetime"), {
		display: {
			viewMode: "calendar",
			components: {
				decades: false,
				year: true,
				month: true,
				date: true,
				hours: false,
				minutes: false,
				seconds: false
			},
			theme: 'auto',
			icons:{
				next:"icon-arrow-right22",
				previous:"icon-arrow-left22",
			}
		},
		restrictions:{
			daysOfWeekDisabled: [1, 3, 5, 0],
			disabledDates: getOddSaturdays().concat(blocked_days),
			minDate: new Date(),
		}
	});	

	function autocomplete(inp, arr) {
		/*the autocomplete function takes two arguments,
		the text field element and an array of possible autocompleted values:*/
		var currentFocus;
		/*execute a function when someone writes in the text field:*/
		inp.addEventListener("input", function(e) {
			var a, b, i, val = this.value;
			/*close any already open lists of autocompleted values*/
			closeAllLists();
			if (!val) { return false;}
			currentFocus = -1;
			/*create a DIV element that will contain the items (values):*/
			a = document.createElement("DIV");
			a.setAttribute("id", this.id + "autocomplete-list");
			a.setAttribute("class", "autocomplete-items");
			/*append the DIV element as a child of the autocomplete container:*/
			this.parentNode.appendChild(a);
			/*for each item in the array...*/
			for (i = 0; i < arr.length; i++) {
			  /*check if the item starts with the same letters as the text field value:*/
			  if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
				/*create a DIV element for each matching element:*/
				b = document.createElement("DIV");
				/*make the matching letters bold:*/
				b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
				b.innerHTML += arr[i].substr(val.length);
				/*insert a input field that will hold the current array item's value:*/
				b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
				/*execute a function when someone clicks on the item value (DIV element):*/
					b.addEventListener("click", function(e) {
					/*insert the value for the autocomplete text field:*/
					inp.value = this.getElementsByTagName("input")[0].value;
					/*close the list of autocompleted values,
					(or any other open lists of autocompleted values:*/
					closeAllLists();
				});
				a.appendChild(b);
			  }
			}
		});
		/*execute a function presses a key on the keyboard:*/
		inp.addEventListener("keydown", function(e) {
			var x = document.getElementById(this.id + "autocomplete-list");
			if (x) x = x.getElementsByTagName("div");
			if (e.keyCode == 40) {
			  /*If the arrow DOWN key is pressed,
			  increase the currentFocus variable:*/
			  currentFocus++;
			  /*and and make the current item more visible:*/
			  addActive(x);
			} else if (e.keyCode == 38) { //up
			  /*If the arrow UP key is pressed,
			  decrease the currentFocus variable:*/
			  currentFocus--;
			  /*and and make the current item more visible:*/
			  addActive(x);
			} else if (e.keyCode == 13) {
			  /*If the ENTER key is pressed, prevent the form from being submitted,*/
			  e.preventDefault();
			  if (currentFocus > -1) {
				/*and simulate a click on the "active" item:*/
				if (x) x[currentFocus].click();
			  }
			}
		});
		function addActive(x) {
		  /*a function to classify an item as "active":*/
		  if (!x) return false;
		  /*start by removing the "active" class on all items:*/
		  removeActive(x);
		  if (currentFocus >= x.length) currentFocus = 0;
		  if (currentFocus < 0) currentFocus = (x.length - 1);
		  /*add class "autocomplete-active":*/
		  x[currentFocus].classList.add("autocomplete-active");
		}
		function removeActive(x) {
		  /*a function to remove the "active" class from all autocomplete items:*/
		  for (var i = 0; i < x.length; i++) {
			x[i].classList.remove("autocomplete-active");
		  }
		}
		function closeAllLists(elmnt) {
		  /*close all autocomplete lists in the document,
		  except the one passed as an argument:*/
		  var x = document.getElementsByClassName("autocomplete-items");
		  for (var i = 0; i < x.length; i++) {
			if (elmnt != x[i] && elmnt != inp) {
			x[i].parentNode.removeChild(x[i]);
		  }
		}
	  }
	  /*execute a function when someone clicks in the document:*/
	  document.addEventListener("click", function (e) {
		  closeAllLists(e.target);
	  });
	  }
	const insuranceList = JSON.parse(`{{ insurance_list|safe }}`);
	
	autocomplete(document.getElementById("insurance"), insuranceList)
</script>
{%endblock%}
