{% extends 'base.html' %}
{% block title %}Kopyoff Dental Art{% endblock %}
{% block title_addition %}<h2>Dental clinic in Staten Island</h2>{% endblock %}

{% load staticfiles %}
{% block content %}
<div id="fh5co-about" class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-pull-4 img-wrap animate-box" data-animate-effect="fadeInLeft">
				<img src="{% static 'images/Lfzd.jpg' %}" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co" width="800px" height="450px">
			</div>
			<div class="col-md-5 col-md-push-1 animate-box">
				<div class="section-heading">
					<h2>The Dentist</h2>
					<p>Born and raised in Ukraine, Dr. Kopyoff started her career in the Pre-Dentistry program in Odessa State Medical University.
						She continued to go on and earn a Diploma in the Qualification of Physician-Stomatologist that is the equivalent of DDS in her home country. Dr. Kopyoff interned at a postgraduate program of general dentistry where she earned the Certificate of Doctor Specialist in Therapeutic Dentistry.
						After moving to the United States, Dr. Kopyoff was accepted to NYU College of Dentistry. During her studies she had earned the Dr. Bernard E. Rudner Memorial award for demonstration superior performance in providing oral comprehensive care and administrating a dental practice.</p>
					<p>Accomplishments/Extracurriculars:</p>
					<ul>
						<li>Certificate in Invisalign</li>
						<li>American Academy of Dentistry</li>
						<li>Second District Dental Society of New York</li>
						<li>NYUDC Implant Study Club</li>
						<li>Phi Theta Kappa: an International Scholastic Association</li>
					</ul>
					<!--<p><a href="#" class="btn btn-primary btn-outline">Our History</a></p>-->
				</div>
			</div>
		</div>
	</div>
</div>

<!--<div id="fh5co-featured-menu" class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 fh5co-heading animate-box">
				<h2>Today's Menu</h2>
				<div class="row">
					<div class="col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam, itaque, nesciunt similique commodi omnis. Ad magni perspiciatis, voluptatum repellat.</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
				<div class="fh5co-item">
					<img src="images/gallery_9.jpeg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
					<h3>Bake Potato Pizza</h3>
					<span class="fh5co-price">$20<sup>.50</sup></span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
				<div class="fh5co-item margin_top">
					<img src="images/gallery_8.jpeg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
					<h3>Salted Fried Chicken</h3>
					<span class="fh5co-price">$19<sup>.00</sup></span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo.</p>
				</div>
			</div>
			<div class="clearfix visible-sm-block visible-xs-block"></div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
				<div class="fh5co-item">
					<img src="images/gallery_7.jpeg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
					<h3>Italian Sauce Mushroom</h3>
					<span class="fh5co-price">$17<sup>.99</sup></span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
				<div class="fh5co-item margin_top">
					<img src="images/gallery_6.jpeg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
					<h3>Fried Potato w/ Garlic</h3>
					<span class="fh5co-price">$22<sup>.50</sup></span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo.</p>
				</div>
			</div>
		</div>
	</div>
</div>
-->

<div id="fh5co-featured-testimony" class="fh5co-section">
	<div class="container">
		<div class="row">
			<!--<div class="col-md-12 fh5co-heading animate-box">
				<h2>Testimony</h2>
				<div class="row">
					<div class="col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam, itaque, nesciunt similique commodi omnis.</p>
					</div>
				</div>
			</div>-->

			<div class="col-md-5 animate-box img-to-responsive animate-box" data-animate-effect="fadeInLeft">
					<img src="{% static 'images/teeth.jpg' %}" alt="">
			</div>
			<div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
				<blockquote>
					<p> &ldquo; Dr. Kopyoff is a true artist.  I am so happy with the temporary veneers I'm afraid to get them replaced with the permanent Porcelain veneers.  I wanted to cry with happiness when I left the office for it was the first time in a very long time that  I could smile without worrying how my bottom teeth looked.  But I didn't want to seem so timid in front of the Dr. and great staff!! &rdquo;</p>
					<p class="author"><cite>&mdash; Joseph Calchi </cite></p>
				</blockquote>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-featured-menu" class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 fh5co-heading animate-box">
				<h2>Our Services</h2>
				<div class="row">
					<div class="col-md-6">
						<p>Choose what do you exactly want to be done</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
				<div class="fh5co-item animate-box">
					<img src="{% static 'images/routine.jpg' %}" class="img-responsive">
					<h3>Routine Exams</h3>
					<p>Routine exams, also known as regular check-ups or periodic health assessments, refer to a series of medical examinations or assessments that individuals undergo at regular intervals to monitor their overall health and detect potential health issues early.</p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="{% static 'images/hygiene.jpg' %}" class="img-responsive">
					<h3>Dental Hygiene</h3>
					<p>Dental hygiene refers to the practice of maintaining oral health and cleanliness to prevent dental problems and promote overall well-being. It encompasses a range of habits, routines, and practices that individuals follow to keep their teeth, gums, and mouth healthy.</p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="{% static 'images/veneers2.jpg' %}" class="img-responsive">
					<h3>Veneers</h3>
					<p>Veneers are thin, custom-made shells typically made of porcelain or composite resin that are designed to cover the front surface of a tooth.</p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="{% static 'images/bonding.jpg' %}" class="img-responsive">
					<h3>Dental Bonding</h3>
					<p>Dental bonding is a cosmetic dental procedure used to repair or improve the appearance of a tooth.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
				<div class="fh5co-item margin_top animate-box">
					<img src="{% static 'images/filling.jpg' %}" class="img-responsive">
					<h3>Dental fillings</h3>
					<p>Dental fillings are restorative dental materials used by dentists to repair and restore teeth that have been damaged by decay (cavities) or minor fractures.</p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="{% static 'images/emergency.jpg' %}" class="img-responsive">
					<h3>Emergency dentistry</h3>
					<p>Emergency dentistry refers to dental care and treatment provided on an urgent basis to address sudden and severe dental problems, injuries, or conditions that require immediate attention to alleviate pain, prevent further damage, or save a tooth.</p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="{% static 'images/Dental-bridge.jpg' %}" class="img-responsive">
					<h3>Dental Bridges</h3>
					<p>Dental bridges are a type of dental restoration used to replace one or more missing teeth.</p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="{% static 'images/dental-crown.jpg' %}" class="img-responsive">
					<h3>Dental Crowns</h3>
					<p>Dental crowns, also known as dental caps, are custom-made prosthetic devices that cover the entire visible portion of a tooth above the gumline.</p>
				</div>
			</div>
			<div class="clearfix visible-sm-block visible-xs-block"></div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
				<div class="fh5co-item animate-box">
					<img src="{% static 'images/veneers.jpg' %}" class="img-responsive">
					<h3>Dentures</h3>
					<p>Dentures is common dental prosthetic option used to address different dental issues, such as missing teeth or cosmetic imperfections.</p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="{% static 'images/whitening.jpg' %}" class="img-responsive">
					<h3>Teeth whitening</h3>
					<p>Teeth whitening, also known as dental bleaching, is a cosmetic dental procedure designed to lighten the color of the teeth and remove stains or discoloration.</p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="{% static 'images/implants.jpg' %}" class="img-responsive">
					<h3>Implants</h3>
					<p>Dental implants are artificial tooth roots made of biocompatible materials such as titanium or titanium alloys that are surgically placed into the jawbone beneath the gums.</p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="{% static 'images/root_canals.jpg' %}" class="img-responsive">
					<h3>Root Canals</h3>
					<p>A root canal, also known as endodontic therapy, is a dental procedure used to treat and save a severely damaged or infected tooth.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div id="fh5co-slider" class="fh5co-section animate-box">
	<div class="container">
		<div class="row">
			<div class="col-md-6 animate-box">
				<div class="fh5co-heading">
					<h2>Our Services</h2>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe porro illum eum consequuntur fugiat vero voluptatibus suscipit. Autem culpa ipsa, facere veniam corrupti aspernatur voluptate quae nisi? Nobis, vero maxime.</p>
				</div>
			</div>
			<div class="col-md-6 col-md-push-1 animate-box">
				<aside id="fh5co-slider-wrwap">
				<div class="flexslider">
					<ul class="slides">
					<li style="background-color: whitesmoke;">style="background-image: url(images/gallery_7.jpeg);"
						<div class="overlay-gradient"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
									<div class="slider-text-inner">
										<div class="desc">
												<h2>Routine Exams</h2>
												<p>Routine exams, also known as regular check-ups or periodic health assessments, refer to a series of medical examinations or assessments that individuals undergo at regular intervals to monitor their overall health and detect potential health issues early. These exams are an essential part of preventive healthcare and are typically scheduled based on an individual's age, sex, medical history, and risk factors.</p>
												<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-color: whitesmoke;">
						<div class="overlay-gradient"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
									<div class="slider-text-inner">
										<div class="desc">
												<h2>Dental Hygiene</h2>
												<p>Dental hygiene refers to the practice of maintaining oral health and cleanliness to prevent dental problems and promote overall well-being. It encompasses a range of habits, routines, and practices that individuals follow to keep their teeth, gums, and mouth healthy.</p>
												<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-color: whitesmoke;">
						<div class="overlay-gradient"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
									<div class="slider-text-inner">
										<div class="desc">
												<h2>Egg <em>with</em> Mushroom</h2>
												<p>Ink is a free html5 bootstrap and a multi-purpose template perfect for any type of websites. A combination of a minimal and modern design template. The features are big slider on homepage, smooth animation, product listing and many more</p>
												<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>	
						<li style="background-color: black;">
						<div class="overlay-gradient"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
									<div class="slider-text-inner">
										<div class="desc">
												<h2>Egg <em>with</em> Mushroom</h2>
												<p>Ink is a free html5 bootstrap and a multi-purpose template perfect for any type of websites. A combination of a minimal and modern design template. The features are big slider on homepage, smooth animation, product listing and many more</p>
												<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-color: whitesmoke;">
						<div class="overlay-gradient"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
									<div class="slider-text-inner">
										<div class="desc">
												<h2>Egg <em>with</em> Mushroom</h2>
												<p>Ink is a free html5 bootstrap and a multi-purpose template perfect for any type of websites. A combination of a minimal and modern design template. The features are big slider on homepage, smooth animation, product listing and many more</p>
												<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-color: whitesmoke;">
						<div class="overlay-gradient"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
									<div class="slider-text-inner">
										<div class="desc">
												<h2>Egg <em>with</em> Mushroom</h2>
												<p>Ink is a free html5 bootstrap and a multi-purpose template perfect for any type of websites. A combination of a minimal and modern design template. The features are big slider on homepage, smooth animation, product listing and many more</p>
												<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>	   	
					</ul>
				</div>
			</aside>
			</div>
		</div>
	</div>
</div> -->

<!-- <div id="fh5co-blog" class="fh5co-section">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
				<h2>Events</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, consequatur. Aliquam quaerat pariatur repellendus veniam nemo, saepe, culpa eius aspernatur cumque suscipit quae nobis illo tempora. Eum veniam necessitatibus, blanditiis facilis quidem dolore! Dolorem, molestiae.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="fh5co-blog animate-box">
					<a href="#" class="blog-bg" style="background-image: url(images/gallery_1.jpeg);"></a>
					<div class="blog-text">
						<span class="posted_on">Feb. 15th 2016</span>
						<h3><a href="#">Photoshoot On The Street</a></h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<ul class="stuff">
							<li><i class="icon-heart2"></i>1.2K</li>
							<li><i class="icon-eye2"></i>2K</li>
							<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
						</ul>
					</div> 
				</div>
			</div>
			<div class="col-md-4">
				<div class="fh5co-blog animate-box">
					<a href="#" class="blog-bg" style="background-image: url(images/gallery_2.jpeg);"></a>
					<div class="blog-text">
						<span class="posted_on">Feb. 15th 2016</span>
						<h3><a href="#">Surfing at Philippines</a></h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<ul class="stuff">
							<li><i class="icon-heart2"></i>1.2K</li>
							<li><i class="icon-eye2"></i>2K</li>
							<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
						</ul>
					</div> 
				</div>
			</div>
			<div class="col-md-4">
				<div class="fh5co-blog animate-box">
					<a href="#" class="blog-bg" style="background-image: url(images/gallery_3.jpeg);"></a>
					<div class="blog-text">
						<span class="posted_on">Feb. 15th 2016</span>
						<h3><a href="#">Focus On Uderwater</a></h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<ul class="stuff">
							<li><i class="icon-heart2"></i>1.2K</li>
							<li><i class="icon-eye2"></i>2K</li>
							<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
						</ul>
					</div> 
				</div>
			</div>
		</div>
	</div>
</div> -->

<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url({% static 'images/chair.jpg' %});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Book an appointment</h2>
				<p>Book an appointment in Dr. Helen Kopyoff's office</p>
				<p><a href="{% url 'booking' %}" class="btn btn-primary btn-outline">Book Now</a></p>
			</div>
		</div>
	</div>
</div>
<div class="comment-form">
	<form method="post">
		{% csrf_token %}
		<label for="name" style="color: black">Name:</label>
		<input type="text" id="name" name="name" required>

		<label for="comment" style="color: black">Comment:</label>
		<textarea id="comment" name="comment" rows="4" required></textarea>

		<button type="submit">Submit</button>
	</form>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			{% if comments %}
			{% for c in comments %}
			<div class="comment">
				<div class="comment-content">
					<span class="comment-name">{{ c.name }}</span>: {{ c.content }}
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

</div>

{% endblock %}
