{% extends 'base.html' %}
{% block title %}Insurances list{% endblock %}
{% block title_addition %}<h2>With these insurances you can come to Dr. Helen Kopyoff</h2>{% endblock %}

{% load static %}
{% block content %}	
	<div id="fh5co-reservation-form" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Insurances</h2>
					<div class="row">
						<div class="col-md-6">
							<p>The list of insurances:</p>
							<ul>
                                <li>Delta Dental:</li>
                                <ul>
                                    <li>Individual Preferred Plan</li>
                                    <li>Network Premier</li>
                                    <li>Patient Direct</li>
                                    <li>PPO</li>
                                    <li>PPO Family High Plan</li>
                                    <li>PPO Family Low Plan</li>
                                    <li>PPO Plus Premier</li>
                                    <li>PPO Plus Premier Individual Choice</li>
                                    <li>PPO Preferred Plan for Families</li>
                                    <li>Federal Employees Dental Program</li>
                                    <li>PPO Plan A</li>
                                    <li>PPO Plan B</li>
                                    <li>Simple Access</li>
                                    <li>TRICARE Retiree Dental Program</li>
                                </ul>
                                <li>Aetna:</li>
                                <ul>
                                    <li>Dental PPO 50 (High Option)</li>
                                    <li>Individual Advantage(SM) Dental PPO</li>
                                    <li>Assurant Dental Health Alliance (PPO)</li>
                                    <li>HealthFund/ DentalFund with PPO II Network</li>
                                    <li>HealthFund®/ DentalFund®</li>
                                    <li>Dental EPP with PPO II Network</li>
                                    <li>Dental PPO/PDN</li>
                                    <li>Dental PPO/PDN with PPO II Network</li>
                                    <li>Costco Core PPO</li>
                                </ul>
                                <li>AIG:</li>
                                <ul>
                                    <li>PPO</li>                                  
                                </ul>
                                <li>Ameritas:</li>
                                <ul>
                                    <li>Classic(PPO)</li>                                  
                                </ul>
                                <li>Assurant Employee Benefits:</li>
                                <ul>
                                    <li>Assurant Dental Network PPO</li>                                  
                                </ul>
                                <li>Careington:</li>
                                <ul>
                                    <li>Care Platinum Series PPO Plan</li>   
                                    <li>Care Platinum POS Plan</li>                                 
                                </ul>
                                <li>Cigna:</li>
                                <ul>
                                    <li>Dental PPO</li>
                                    <li>Dental PPO: Radius Network</li>
                                    <li>Dental PPO: Advantage Dentists</li>
                                    <li>Dental PPO (Core Network)</li>
                                    <li>Dental EPO: Radius Network</li>                              
                                </ul>
                                <li>Connection Dental:</li>
                                <ul>
                                    <li>PPO</li>  
                                    <li>GEHA Federal</li>                                
                                </ul>
                                <li>Dental Benefit Providers:</li>
                                <ul>
                                    <li>Healthplex PPO Network</li>                                  
                                </ul>
                                <li>Dental Health Alliance:</li>
                                <ul>
                                    <li>Sun Life Financial (Network)</li>
                                    <li>DHA Assurant (Network)</li>
                                    <li>DHA Premier</li>                                 
                                </ul>
                                <li>Dental Source:</li>
                                <ul>
                                    <li>DenteMax</li>                                  
                                </ul>
                                <li>Dentegra:</li>
                                <ul>
                                    <li>Family Preferred Plan</li>                                  
                                </ul>
                                <li>EmblemHealth:</li>
                                <ul>
                                    <li>Preferred Plus Dental</li>                                  
                                </ul>
                                <li>GEHA:</li>
                                <ul>
                                    <li>CONNECTION Dental Plus</li>                                  
                                </ul>
                                <li>Guardian:</li>
                                <ul>
                                    <li>Dental PPO</li>
                                    <li>PPO: DentalGuard Preferred</li>
                                    <li>PPO: DentalGuard Preferred/Premier</li>                               
                                </ul>
                                <li>GWH-Cigna (formerly Great West Healthcare):</li>
                                <ul>
                                    <li>PPO</li>                                  
                                </ul>
                                <li>Healthplex:</li>
                                <ul>
                                    <li>PPO Panels: Careington PPO Panel</li>                                  
                                </ul>
                                <li>Horizon Blue Cross Blue Shield of New Jersey:</li>
                                <ul>
                                    <li>Horizon Dental PPO</li>                                  
                                </ul>
                                <li>MetLife:</li>
                                <ul>
                                    <li>PDP</li>       
                                    <li>PDP Plus (Preferred Dentist Program)</li>                             
                                </ul>
                                <li>Moda Health:</li>
                                <ul>
                                    <li>Delta Dental PPO</li>
                                    <li>Delta Dental Premier</li>                                
                                </ul>
                                <li>PBA (Patrolmen's Benefit Association):</li>
                                <ul>
                                    <li>Dental Plan</li>                                  
                                </ul>
                                <li>Principal Financial Group:</li>
                                <ul>
                                    <li>Principal Plan PPO</li>                                  
                                </ul>
                                <li>Renaissance Dental:</li>
                                <ul>
                                    <li>Dentamax PPO</li>                                  
                                </ul>
                                <li>Solstice:</li>
                                <ul>
                                    <li>PPO</li> 
                                    <li>PPO (ASO Network)</li>                                  
                                </ul>
                                <li>Sun Life Financial:</li>
                                <ul>
                                    <li>Active Plan (PPO)</li>
                                    <li>DenteMax</li> 
                                    <li>Premier Dental</li>                                
                                </ul>
                                <li>Union Plans:</li>
                                <ul>
                                    <li>Patrolmen's Benevolent Association</li>
                                    <li>Patrolmen's Benevolent Association PPO</li>
                                    <li>1199 SEIU</li>                                  
                                </ul>
                                <li>United Concordia:</li>
                                <ul>
                                    <li>Tricare Active Duty Dental Program (ADDP)</li>                                  
                                </ul>
                                <li>UnitedHealthcare:</li>
                                <ul>
                                    <li>Dental PPO</li>                                  
                                </ul>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(images/chair.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Book an appointment</h2>
					<p>Book an appointment in Dr. Helen Kopyoff's office</p>
					<p><a href="{% url 'booking' %}" class="btn btn-primary btn-outline">Book Now</a></p>
				</div>
			</div>
		</div>
	</div>
{%endblock%}

